.help_circle_wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding: 1.3333333730697632px 1.3333326578140259px 1.3333326578140259px
    1.3333333730697632px;
}
.icon1 {
  display: flex;
}
.styled301 {
  fill: transparent;
}
.styled298 {
}
.styled299 {
}
.styled300 {
}
