.social_button_wrapper3 {
  display: flex;
  background: rgba(255, 255, 255, 1);
  filter: drop-shadow(inset 0px 1px 2px rgba(16, 24, 40, 0.05));
  border: 1px solid rgb(208, 213, 221);
  border-radius: 8px;
  overflow: hidden;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 10px 16px;
  gap: 12px;
}
.text7 {
  text-align: left;
  white-space: pre-line;
  color: var(--gray_700);
}
