.social_icon_wrapper2 {
  display: flex;
  overflow: hidden;
  width: 24px;
  height: 24px;
  flex-direction: column;
  padding: 0.000244140625px 2.699951171875px;
}
.path4 {
  display: flex;
  width: 18.531px;
  height: 22px;
}
.styled854 {
  width: 18.531px;
  height: 22px;
}
.styled853 {
}
