.social_icon_wrapper3 {
  display: flex;
  overflow: hidden;
  width: 24px;
  height: 24px;
  flex-direction: column;
  padding: 2.24945068359375px 0px 2.249300003051758px 0px;
}
.vector6 {
  display: flex;
  width: 24px;
  height: 19.501px;
}
.styled894 {
  fill: rgba(29, 161, 242, 1);
  width: 24px;
  height: 19.501px;
}
.styled893 {
}
